<div class="layout-container">
  <app-chat
    [messages]="messages"
    [isLoading]="isLoading"
    [isSpeaking]="isSpeaking"
    [isRecording]="isRecording"
    (sendMessageEvent)="onSendMessage($event)"
    (optionSelectedEvent)="onOptionSelected($event)"
    (speakTextEvent)="onSpeakText($event)"
    (toggleRecordingEvent)="onToggleRecording()"
    (modelChangeEvent)="toggleModel($event)">
  </app-chat>

  <!-- The Preview Section - always in DOM but visibility controlled by CSS -->
  <div class="preview-section">
    <div class="component-preview">
      <div class="loading-container" *ngIf="isLoading">
        <div class="generating-indicator">
          <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </div>
      </div>
      <!-- Drawing component -->
      <app-drawing
        *ngIf="isDrawing"
      (drawingSubmitted)="sendDrawingToChat($event)">

      </app-drawing>

      <!-- 3D viewer shown when threeDAgent is true -->
      <app-threed-viewer
        *ngIf="threeDAgent"
        [modelUrl]="modelUrl"
        (switchModelEvent)="onSwitchToModelEditor()"
        style="display: block; height: 100%; width: 100%;">
      </app-threed-viewer>

      <app-three-with-upload
      *ngIf="modelEditor" [stlData]="generatedStlData" style="display:block; height:100%; width:100%">

    </app-three-with-upload>
    </div>
  </div>
</div>
